html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height:100%;
}

/*Navbar*/
.navbar{
    background-color: rgb(119, 143, 143);
    display: grid;
    grid-template-columns: 15% 85%;
    height: 50px;
    box-shadow: 2px 10px 9px black;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.navlinks > p {
    margin-right: 10px;
    font-weight: 600;
}

a {
    text-decoration: none;
    font-weight: 600;
}
li > a {
    color: white;
    margin-right: 10px;
    padding: 2px;
    font-size: 18px;
}
li>a:hover{
    color:rgba(99,232,34,1)
}
ul {
    list-style-type: none;
}
/* Dropdown Button */
.dropbtn {
    background-color: rgb(119, 143, 143);
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

/*body*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.container{
    height:100%;
    justify-content: center;
    align-items: center;
}

/*Error berichten*/
.error{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
}

/*Login Form en Signup form*/
.form{
    display:grid;
    background-color: rgb(119, 143, 143);
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 8px 10px 8px black;
}
.form:hover{
    box-shadow: 4px 5px black;
}
label{ 
    font-size: 18px;
    font-weight:700;
}
input{
    background-color: antiquewhite;
    border: 0;
    border-radius: 8px;
    padding: 8px;
   
}
select{
    background-color: antiquewhite;
    border: 0;
    border-radius: 8px;
    padding: 8px;
}
input[type=submit]{
    box-shadow: 5px 6px black;
    font-weight: 600;
}
input[type=submit]:hover{
    box-shadow: 2px 3px black;
}

/*Leden overview*/
.overzicht >h1{
    display: grid;
    justify-content: center;
}
.gebruiker{
    background-color: rgb(119, 143, 143);
    display: grid;
    grid-template-columns: 68% 25%;
    height: 100px;
    width: 150%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 8px 10px 8px black;
}
.gegevens{
    font-size: 16px;
    font-weight: 600;
}
.knop{
    display: grid;
    row-gap: 10px;
    justify-content: end;
}
.onderin{
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: end;
}

footer{
    height: 100%;
   
}